.demo-block {
  @include trailer(2);

  .demo-block-title {
    @include trailer(2);
    border-bottom: 1px solid #ddd;
    @include padding-trailer(0.5);
    @include adjust-font-size-to(24px, 1);
    font-weight: bold;
  }

  .demo-block-subtitle {
    @include trailer(1);
    @include adjust-font-size-to(20px, 1);
    font-weight: bold;
  }

  .demo-block-content {
    @include trailer(2);
    @include pie-clearfix;
  }

  .color-item {
    @include box-sizing(border-box);
    @include trailer(0.5);
    color: white;
  }
  .color-item-top, .color-item-bottom {
    position: relative;
    width: 100%;
    height: 96px;
  }
  .color-code {
    position: absolute;
    bottom: 0;
    padding: 10px;
    @include adjust-font-size-to(13px);
    font-weight: bold;
  }

  .btn {
    margin: 0 6px 6px 0;
  }

  @include at-breakpoint($pad) {
    .demo-block-title {
      @include adjust-font-size-to(32px, 1.5);
    }
    .demo-block-subtitle {
      @include adjust-font-size-to(24px, 1);
    }
    .color-code {
      @include adjust-font-size-to(15px);
    }

  }


}
