.demo-header {

  .logo {
    text-align: center;
    padding: rhythm(2) 0;
    @include trailer(0);
    @include adjust-font-size-to(36px, 1.5);
    font-weight: bold;
  }


  @include at-breakpoint($pad) {

    .logo {
      padding: rhythm(4) 0;
      @include adjust-font-size-to(48px, 2);
    }

  }

}
