.footer {
  @include pie-clearfix;
  position: relative;
  padding: rhythm(3) 0 rhythm(15);
  background-color: #183840;
  color: #ddd;
  text-align: center;
  overflow: hidden;
  background-image: radial-gradient(circle at 85% 85% , #2B6F69 5%, #183840 60%);
  &:before {
    content: '';
    position: absolute;
    left: -50%;
    bottom: 0;
    height: 0;
    @include opacity(0.25);
    @include replace-text-with-svg(footer/footer-vi);
  }

  .footer-logo {
    position: absolute;
    right: 24px;
    bottom: 72px;
    z-index: 50;
    @include replace-text-with-svg(footer/footer-title);
  }

  .copy {
    position: absolute;
    right: 24px;
    bottom: 24px;
    text-align: right;
    font-size: 11px;
    line-height: 1.1;
  }

  .site-list {
    margin: 0 auto;
    padding: 0 rhythm(1);
    max-width: 240px;
    position: relative;
    z-index: 50;
  }

  .site {
    display: block;
    @include box-sizing(border-box);
    @include trailer(2);
    &:hover {
      text-decoration: none;
    }
  }

  .site-logo {
    @include box-sizing(border-box);
    @include trailer(0.75);
    padding-top: 100%;
    width: 100%;
    height: 0;
    @include background-size(contain);
    background-position: center;
    background-repeat: no-repeat;
    @include border-radius(10px);
    background-color: white;
    img {
      display: block;
      @include trailer(0);
    }
  }

  .site-logo_donate {
    background-image: url('/images/footer/logo-donate-256.png');
    background-image: none, url('/images/footer/logo-donate-256.svg');
  }

  .site-logo_melody {
    background-image: url('/images/footer/logo-melody-256.png');
    background-image: none, url('/images/footer/logo-melody-256.svg');
  }

  .site-logo_hope {
    background-image: url('/images/footer/logo-hope-256.png');
    background-image: none, url('/images/footer/logo-hope-256.svg');
  }

  .site-logo_main {
    background-image: url('/images/footer/logo-main-256.png');
    background-image: none, url('/images/footer/logo-main-256.svg');
  }


  .site_coming-soon {
    .site-logo {
      background-color: rgba(black, 0.25);
      border: 1px dashed rgba(white,.2);
      background: none;
    }
  }

  .site-title {
    @include adjust-font-size-to(15px, 1/2);
    color: white;
    font-weight: bold;
    @include trailer(0.125);
  }

  .site-subtitle {
    @include adjust-font-size-to(13px);
    color: rgba(white,.3);
  }

  .site_coming-soon {
    @include opacity(0.5);
    .site-title {
      color: rgba(white,.5);
    }
  }

  @include at-breakpoint($pad) {

    padding: rhythm(4) 0 rhythm(12);

    .footer-inner {
      margin: 0 auto;
      padding: 0 rhythm(2);
      width: 85%;
      max-width: 768px;
    }

    &:before {
      left: -50px;
      bottom: -50px;
    }
    .footer-logo {
      right: 48px;
      bottom: 72px;
    }
    .copy {
      right: 50px;
    }
    .site-list {
      @include pie-clearfix;
      max-width: 768px;
      padding: 0;
    }

    .site {
      @include box-sizing(border-box);
      float: left;
      padding: 0 12px;
      width: 33.3333%;
    }

  }

  @include at-breakpoint($desktop) {

    .site {
      padding: 0 24px;
    }
  }


}
