.header {

  // .header-inner {
    // width: auto !important;
  // }

  .header-top {
    @include pie-clearfix;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(white, 0.9);
    z-index: 1000;
    max-width: 960px;
    margin: 0 auto;
    @include transition(opacity 0.5s, transform 0.5s);
    // @include transition(opacity 0.5s);
    visibility: visible;
    @include opacity(1);

    &.is-hide {
      @include translate3d(0, -60px, 0);
      // visibility: hidden;
      @include opacity(0);
      // @include transition(opacity 0.5s, visibility 0s 0.5s);
    }
  }

  .logo {
    @include adjust-font-size-to(24px, 1);
    @include trailer(0);
    padding: 6px 0 6px 12px;
    float: left;
    a {
      display: block;
      @include replace-text-with-svg('guideline-logo');
    }
  }

  .menu-btn, .close-btn {
    position: absolute;
    top: 15px;
    right: 12px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: $color-primary;
    width: 32px;
    height: 32px;
    padding: 4px;
    margin: 0;
    @include box-sizing(border-box);
    &:focus {
      outline: none;
    }
  }
  .menu-btn-line {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #ccc;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #ccc;
    }
    &:before{
      top: -7px;
    }
    &:after {
      bottom: -7px;
    }
  }
  .close-btn-line {
    position: relative;
    width: 90%;
    height: 2px;
    background-color: transparent;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #ccc;
      top: 50%;
      left: 50%;
      margin: -1px 0 0 -50%;
    }
    &:before{
      @include transform( rotate(45deg) );
    }
    &:after {
      @include transform( rotate(-45deg) );
    }
  }

  .menu-title {
    padding: 18px 24px;
    @include adjust-font-size-to(22px, 1);
    color: white;
  }

  .menu-list {
    @include reset-list-style;
    padding-bottom: 24px;
  }

  .menu-list-item {

  }

  .menu-list-item-title {
    position: relative;
    display: block;
    color: white;
    padding: 12px 24px;
    @include adjust-font-size-to(15px);
    @include transition(background-color 0.25s);
    &:hover {
      text-decoration: none;
      background-color: rgba(black, 0.2);
    }
    &.icon-arrow {
      padding: 6px 24px 6px 48px;
    }
    &.icon-arrow:before {
      content: "\e902";
      position: absolute;
      top: 8px;
      left: 24px;
      display: block;
      font-size: 16                                                                                                                                                                   px;
      width: 24px;
      height: 24px;
    }
    &.is-active {
      background-color: rgba(black, 0.2);
    }
  }

  .menu-sub-list {
    @include reset-list-style;
  }

  .menu-sub-list-item {
    @include adjust-font-size-to(15px);
    a {
      padding: 8px 24px 8px 48px;
      display: block;
      color: rgba(white, 0.75);
      @include transition(background-color 0.25s);
      &:hover {
        text-decoration: none;
        background-color: rgba(black, 0.2);
      }
    }
    &.is-active a {
      background-color: rgba(black, 0.2);
    }
  }

  @include at-breakpoint($pad) {

    .header-top {
      top: 0px;
      // @include transition(opacity 0.5s, transform 0.5s, padding-top 0.5s);
      &.is-hide {
        @include translate3d(0, -84px, 0);
      }
      &.is-top {
        padding-top: 78px;
        position: absolute;
      }
    }

    .logo {
      padding: 18px 44px;
    }

    .menu-btn {
      top: auto;
      bottom: 26px;
      right: 44px;
    }
    .close-btn {
      top: 26px;
      right: 16px;
    }

    .menu-title {
      padding: 30px 24px;
    }

  }

  // @include at-breakpoint($desktop) {
  //   $header-desktop-width: 222px;
  //   border-bottom: none;
  //   width: $header-desktop-width;

  //   .header-inner {
  //     @include translate3d(0, 0, 0);
  //     left: auto !important;
  //   }

  //   .header-top {
  //     @include opacity(1);
  //     position: static;
  //     &.is-hide {
  //       @include transform(none);
  //       @include opacity(1);
  //     }
  //   }

  //   .logo {
  //     float: none;
  //     padding: 0;
  //     @include trailer(1);
  //     position: relative;
  //     left: -4px;
  //     top: -4px;
  //   }
  //   .menu-btn, .close-btn {
  //     display: none;
  //   }

  //   .menu-title {
  //     display: none;
  //   }

  //   .menu-list-item-title {
  //     padding: 8px 0;
  //     color: black;
  //     @include adjust-font-size-to(16px);
  //     @include transition(color 0.25s);
  //     &:hover {
  //       color: darken($color-primary, 10%);
  //       background-color: transparent;
  //     }
  //     &.icon-arrow {
  //       padding: 8px 0 8px 24px;
  //     }
  //     &.icon-arrow:before {
  //       left: 0;
  //     }
  //     &.is-active {
  //       color: darken($color-primary, 10%);
  //       background-color: transparent;
  //     }
  //   }

  //   .menu-sub-list-item {
  //     a {
  //       padding: 8px 0 8px 18px;
  //       display: block;
  //       color: #777;
  //       @include transition(color 0.25s);
  //       @include adjust-font-size-to(16px);
  //       &:hover {
  //         color: darken($color-primary, 10%);
  //         text-decoration: none;
  //         background-color: transparent;
  //       }
  //     }
  //     &.is-active a {
  //       color: darken($color-primary, 10%);
  //       background-color: transparent;
  //     }
  //   }

  //   // 移動裝置呈現桌面版樣式時
  //   // &.is-mobile {

  //     // height: 1px;

  //     // .header-inner {
  //     //   @include transition(none);
  //     //   position: fixed;
  //     //   position: fixed;
  //     //   top: 0;
  //     //   bottom: 0;
  //     //   width: $header-desktop-width !important;
  //     //   padding-right: 24px;
  //     //   overflow: auto;
  //     //   -webkit-overflow-scrolling: touch;
  //     // }

  //     // .logo {
  //     //   padding-top: 32px;
  //     // }
  //   // }
  // }

  // @include at-breakpoint($wide-desktop) {
  //   // &.is-mobile {
  //     // .logo {
  //     //   padding-top: 60px;
  //     // }
  //   // }
  // }

}
