.off-canvas {

  .off-canvas-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 248px;
    overflow: auto;
    background-color: #183840;
    @include translate3d(248px, 0, 0);
    @include transition(transform 0.5s);
    -webkit-overflow-scrolling: touch;
    z-index: 1100;
  }

  .off-canvas-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 1000;
    visibility: hidden;
    @include opacity(0);
    background-color: rgba(black, 0.25);
    @include transition(opacity 0.5s, visibility 0s 0.5s);
  }

  &.is-open-menu {

    .off-canvas-menu {
      @include transform(none);
    }

    .off-canvas-mask {
      visibility: visible;
      @include opacity(1);
      @include transition(opacity 0.5s);
    }

  }

  // @include at-breakpoint($desktop) {

  //   .off-canvas-menu {
  //     position: static;
  //     width: auto;
  //     right: 0;
  //     @include transform(none);
  //     background-color: transparent;
  //     @include transition(none);
  //   }

  //   &.is-open-menu {

  //     .off-canvas-menu {
  //       position: static;
  //       width: auto;
  //       right: 0;
  //       @include transform(none);
  //     }

  //     .off-canvas-mask {
  //       bottom: auto;
  //     }
  //   }

  // }

}
