.scale-content {

  @include at-breakpoint($desktop) {
    $delay: .5;
    $delay-sec: $delay + s;
    .page {
      position: relative;
      z-index: 105;
      @include transition(transform .2s);
    }

    .page-inner {
      @include transform-origin(center, bottom);
      @include transition(transform .2s, border-radius .2s);
      @include box-shadow(0 0 50px rgba(black, .5));
    }

    .site-info {
      display: block;
      @include opacity(0);
      @include transition(opacity .3s);
    }

    .footer {
      padding: 180px 0 0;
      position: fixed;
      top: 0px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;

      .site {
        @include opacity(0);
        @include transform(scale(0));
        @include transition(transform .3s, opacity .3s);
      }
      .site-meta {
        @include opacity(0);
        @include transition(opacity .3s);
      }

    }

    &.is-scaled {
      .page {
        @include transition(transform .5s);
      }
      .page-inner {
        @include transform(scale(.5));
        @include border-radius(0 0 10px 10px);
        @include transition(transform .5s, border-radius .5s);
      }
      .site-info {
        @include opacity(1);
        @include transition(opacity 1s 1s);
      }
      .footer {
        &:before {
          left: -5%;
          bottom: -10%;
          width: 50%;
          padding-top: 50%;
          height: 0;
        }

        .footer-logo {
          position: absolute;
          right: 48px;
          bottom: 48px;
          z-index: 50;
          @include replace-text-with-svg(footer/footer-title);
        }
        .site {
          @include opacity(1);
          @include transform(scale(1));
        }
      }
      @for $i from 1 through 3 {
        .site:nth-child(#{$i}) {
          $site-delay: .1 * $i + $delay + s;
          @include transition(transform .5s $site-delay, opacity .5s $site-delay);
          .site-meta {
            $site-meta-delay: .1 * $i + 1 + s;
            @include opacity(1);
            @include transition(opacity 1s $site-meta-delay);
          }

        }
      }
    }

  }

}
