.scale-content {

  @include at-breakpoint($desktop) {
    $delay: .5;
    $delay-sec: $delay + s;
    .page {
      position: relative;
      z-index: 105;
      @include transition(transform .2s .5s);
    }

    .page-inner {
      @include transform-origin(center, bottom);
      @include transition(transform .2s .5s, border-radius .2s .5s);
      @include box-shadow(0 0 50px rgba(black, .5));
    }

    .site-info {
      display: block;
      @include opacity(0);
      @include transition(opacity .3s);
    }

    .footer {
      padding: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      min-height: 600px;
      z-index: 100;

      &:before {
        left: -10%;
        bottom: -10%;
        width: 50%;
        padding-top: 50%;
        height: 0;
        @include transform( translate(-100%, 100%) rotate(-120deg) );
        @include transition(.3s);
        max-width: 700px;
        background-position: left bottom;
      }

      .footer-logo {
        position: absolute;
        right: 128px;
        bottom: 128px;
        @include opacity(0);
        @include transition(.3s);
      }
      .copy {
        right: 130px;
        bottom: 72px;
      }
      .site {
        @include opacity(0);
        @include transform(scale(0));
        @include transition(transform .3s, opacity .3s);
      }
      .site-list {
        padding-top: 180px;
      }
      .site-meta {
        @include opacity(0);
        @include transition(opacity .3s);
      }

    }

    &.is-scaled {
      .page {
        @include transition(transform .5s);
      }
      .page-inner {
        @include transform(scale(.5));
        @include border-radius(0 0 10px 10px);
        @include transition(transform .5s, border-radius .5s);
      }
      .site-info {
        @include opacity(1);
        @include transition(opacity 1s 1s);
      }
      .footer {
        .site {
          @include opacity(1);
          @include transform(scale(1));
        }
        &:before {
          @include transform( translate(0,0) rotate(0deg) );
          @include transition(10s .5s);
        }
        .footer-logo {
          @include opacity(1);
          @include transition(3s 1s);
        }
      }
      @for $i from 1 through 3 {
        .site:nth-child(#{$i}) {
          $site-delay: .1 * $i + $delay + s;
          @include transition(transform .5s $site-delay);
          .site-meta {
            $site-meta-delay: .1 * $i + 1 + s;
            @include opacity(1);
            @include transition(opacity 1s $site-meta-delay);
          }

        }
      }
    }

  }
  @media (min-width: 1025px) and (max-height: 768px) {
    .footer .footer-logo {
      display: none;
    }
    .footer .site-list {
      padding-top: 250px;
    }
    .footer .copy {
      bottom: 32px;
      left: 0;
      right: 0;
      text-align: center;
    }
  }

}
