= javascript_include_tag \
  "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", \
  "/vendor/highlight/highlight.pack.js", \
  "/vendor/sticky.min.js", \
  "/vendor/smooth-scroll.js", \
  "chart", \
  "all"


