.content
  .container

    .demo-block
      h2.demo-block-title Color
      h3.demo-block-subtitle 標誌顏色
      .demo-block-content
        .color-item
          .color style="background-color: #55b36c;"
          .color-code #55b36c
        .color-item
          .color style="background-color: #89c693;"
          .color-code #89c693
        .color-item
          .color style="background-color: #50b584;"
          .color-code #50b584
        .color-item
          .color style="background-color: #88c8ab;"
          .color-code #88c8ab
        .color-item
          .color style="background-color: #a7cd6b;"
          .color-code #a7cd6b
        .color-item
          .color style="background-color: #e7e879;"
          .color-code #e7e879

      / h3.demo-block-subtitle 灰階（尚未決定）
      / .demo-block-content
      /   .color-item
      /     .color style="background-color: #000000;"
      /     .color-code #000000
      /   .color-item
      /     .color style="background-color: #444444;"
      /     .color-code #444444
      /   .color-item
      /     .color style="background-color: #999999;"
      /     .color-code #999999
      /   .color-item
      /     .color style="background-color: #DDDDDD;"
      /     .color-code #DDDDDD
      /   .color-item
      /     .color style="background-color: #FFFFFF;"
      /     .color-code #FFFFFF

    .demo-block
        h2.demo-block-title Icon
        h3.demo-block-subtitle 台灣縣市（原比例）
        .demo-block-content
        h3.demo-block-subtitle 台灣縣市（平均比例）
        .demo-block-content

    .demo-block
      h2.demo-block-title Button
      h3.demo-block-subtitle Basic button
      .demo-block-content
        a.btn href="#" Default Button
        a.btn.btn_primary href="#" Primary Button
        a.btn.btn_danger href="#" Danger Button
        a.btn.is-disabled href="#" Disabled Button
      h3.demo-block-subtitle Outline Button
      .demo-block-content
        a.btn.btn_outline href="#" Defualt Button
        a.btn.btn_outline.is-disabled href="#" Disabled Button

    .demo-block
      h2.demo-block-title Form
      / h3.demo-block-subtitle Input
      / h3.demo-block-subtitle Select
      = render "/partial/form-demo"

    .demo-block
      h2.demo-block-title Component
      h3.demo-block-subtitle Pagination
      .demo-block-content
       = render "/partial/pagination"
      h3.demo-block-subtitle Card
      .demo-block-content
      h3.demo-block-subtitle Lightbox
      .demo-block-content
      / h3.demo-block-subtitle Slide
      / .demo-block-content

    / .demo-block
    /     h2.demo-block-title Partial
    /     h3.demo-block-subtitle Header
    /     .demo-block-content
    /     h3.demo-block-subtitle Hero
    /     .demo-block-content
    /     h3.demo-block-subtitle Footer
    /     .demo-block-content
    /      a href="#footer" Link to footer
    .demo-block
      h2.demo-block-title Typograph
      h3.demo-block-subtitle Headings
      .demo-block-content
        - @sentense= zh_lorem_words(20)
        h1= "h1 - #{@sentense}"
        h2= "h2 - #{@sentense}"
        h3= "h3 - #{@sentense}"
        h4= "h4 - #{@sentense}"
        h5= "h5 - #{@sentense}"
        h6= "h6 - #{@sentense}"
      h3.demo-block-subtitle Paragraph
      .demo-block-content
        p= zh_lorem_paragraphs(4)
        p= zh_lorem_paragraphs(4)
        p= zh_lorem_paragraphs(4)
      h3.demo-block-subtitle List
      .demo-block-content
        ul
          li= zh_lorem_sentence
          li= zh_lorem_sentence
          li
            = zh_lorem_sentence
            ul
              li= zh_lorem_sentence
              li= zh_lorem_sentence
              li= zh_lorem_sentence
          li= zh_lorem_sentence
          li= zh_lorem_sentence
        ol
          li= zh_lorem_sentence
          li= zh_lorem_sentence
          li
            = zh_lorem_sentence
            ol
              li= zh_lorem_sentence
              li= zh_lorem_sentence
              li= zh_lorem_sentence
          li= zh_lorem_sentence
          li= zh_lorem_sentence
      h3.demo-block-subtitle Blockquote
      .demo-block-content
        blockquote
          p 不要因為有配著偉人照片，就隨便相信網路上流傳的名言佳句。
          small 胡適
        blockquote
          p 不要相信胡適
          small 愛因斯坦
      h3.demo-block-subtitle Code Block
      .demo-block-content
        = render "/partial/code.erb"
      h3.demo-block-subtitle Inline Element
      .demo-block-content
        p You can link to <a href="#">somewhere</a>.
        p You can use the mark tag to <mark>highlight</mark> text.
        p <del>This line of text is meant to be treated as deleted text.</del>
        p <s>This line of text is meant to be treated as no longer accurate.</s>
        p <ins>This line of text is meant to be treated as an addition to the document.</ins>
        p <u>This line of text will render as underlined</u>
        p <small>This line of text is meant to be treated as fine print.</small>
        p <strong>This line rendered as bold text.</strong>
        p <em>This line rendered as italicized text.</em>
        p Test code <code>Hellow world</code>.
