.block
  .container
    .block-title Block Title
    .block-text= lorem_words(20)

.block.block_black-bg
  .container
    .block-title Block Title
    .block-text= lorem_words(20)

.block
  .container
    .block-title Block Title
    .block-subtitle Block SubTitle
    .block-text= lorem_words(20)

.block.block_black-bg
  .container
    .block-title Block Title
    .block-subtitle Block SubTitle
    .block-text= lorem_words(20)

.block.block_large
  .container
    .block-title Block Title
    .block-subtitle Block SubTitle
    .block-text= lorem_words(20)

.block.block_large.block_black-bg
  .container
    .block-title Block Title
    .block-subtitle Block SubTitle
    .block-text= lorem_words(20)
