// ---- susy setting ----
// basic for susy
$total-columns  : 4;
$column-width   : 60px;
$gutter-width   : 24px;
$grid-padding   : $gutter-width;

// add media
$phone          : $total-columns;
$pad            : 640px 8;
$desktop        : 960px 12;
$wide-desktop        : 1280px 12;

// page-container
$page-container: ".container";

// debug layout
// @import "layout-debug";

// ---- container setting ----

body {
  background-color: #183840;
  position: relative;
}

.page {
  overflow-x: hidden;
}

.page-inner {
  background-color: white;
}

.container {
  max-width: 1280px;
  @include at-breakpoint($desktop) {
    margin: 0 auto;
    padding: 36px 48px 0;
  }
  @include at-breakpoint($wide-desktop) {
    padding: 60px 96px 0;
  }
}

.header {
  @include at-breakpoint($pad) {
    padding: 12px 32px;
  }
  @include at-breakpoint($desktop) {
    float: left;
    padding: 0 24px 0 0;
  }
  @include at-breakpoint($wide-desktop) {
    padding-right: 48px;
  }
}

.content {
  padding: 0 16px 24px;
  @include at-breakpoint($pad) {
    padding: 0 48px 48px;
  }
  @include at-breakpoint($desktop) {
    overflow: hidden;
    padding: 0 0 48px 24px;
  }
  @include at-breakpoint($wide-desktop) {
    padding: 0 0 48px 48px;
  }
}
