// ---- susy setting ----
// basic for susy
$total-columns  : 4;
$column-width   : 72px;
$gutter-width   : 24px;
$grid-padding   : $gutter-width;

// add media
$phone          : $total-columns;
$pad            : 640px 8;
$desktop        : 960px 12;

// page-container
$page-container: ".container";

// debug layout
// @import "layout-debug";

// ---- container setting ----

#{$page-container} {

  $container-style: fluid;
  @include container;

  @include at-breakpoint($pad) {
    $grid-padding   : $gutter-width * 2;
    @include container;
  }

  @include at-breakpoint($desktop) {
    $container-style: magic;
    @include set-container-width;
  }

}
