// ---- susy setting ----
// basic for susy
$total-columns  : 4;
$column-width   : 60px;
$gutter-width   : 24px;
$grid-padding   : $gutter-width;

// add media
$phone          : $total-columns;
$pad            : 640px 8;
$desktop        : 960px 12;
$wide-desktop        : 1280px 12;

// page-container
$page-container: ".container";

// debug layout
// @import "layout-debug";

// ---- container setting ----

.page {
  overflow-x: hidden;
}


.content {
  @include box-sizing(border-box);
  margin: 0 auto;
  padding: 0px 16px 160px;
  max-width: 960px;

  @include at-breakpoint($pad) {
    padding: 0px 48px 160px;
  }
}
