// ---- Base Color ----
$color-primary: #50B584;

// gray
$color-black-dark : black;
$color-black : #444;
$color-black-light : #666;
$color-gray-dark: #999;
$color-gray         : #aaa;
$color-gray-light   : #ddd;
$color-gray-white   : #f1f1f1;

// blue
$color-blue-light   : #dee9ef;
$color-blue         : #53caf5;
$color-blue-dark    : darken($color-blue, 10%);

// red
$color-red: #E65E50;
$color-red-dark: #CB5246;
$color-red-light: lighten($color-red, 10%);


// text-color
$text-black         : #444;
$text-black-light   : #666;
$text-gray          : #8a8a8a;
$text-gray-light    : lighten($text-gray, 15%);

// ---- box model
$global-radius-width: 3px;


$highlight-block-bg-color: #f7f7f7;
