.block {
  padding: rhythm(4) 0;
  text-align: center;
  @include background-size(cover);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f3f3f3;
}

.block-title {
  @include adjust-font-size-to(36px, 1.5);
  @include trailer(0.125);
}

.block-subtitle {
  @include adjust-font-size-to(20px, 1);
  color: #aaa;
}

.block-text {
  @include leader(1);
  @include adjust-font-size-to(16px);
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  color: #777;
}

.block_large {
  padding: rhythm(8) 0;
}

.block_black-bg {
  background-color: #444;
  .block-title {
    color: white;
  }

  .block-subtitle {
    color: #999;
  }

  .block-text {
    color: #ddd;
  }
}


