//
// slim markup:
// button.btn / a.btn
//
// Modifiers:
// .btn_action / .btn_primary / .btn_danger / .btn_outline
//
// state:
// .is_disabled
//
// ===========

.btn {
  @extend %subpixel;
  display: inline-block;
  margin-bottom: 0;
  padding: 4px 22px;
  border: 2px solid $color-gray-white;
  @include border-radius($global-radius-width);
  @include adjust-font-size-to(15px);
  background-image: none;
  text-align: center;
  text-shadow: none;
  cursor: pointer;
  outline: none;
  @include nowrap;
  @include user-select(none);
  color: $color-black;
  background-color: $color-gray-white;
  @include transition(border .25s, background-color .25s, color .25s);
  &:hover {
    text-decoration: none;
    color: $color-black;
    border-color: $color-gray-light;
    background-color: $color-gray-light;
  }
  &:disabled , &.is-disabled {
    cursor: default;
    color: $color-gray;
    border-color: $color-gray-white;
    background-color: $color-gray-white;
  }
}

// Modifiers
.btn_primary {
  color: white;
  border-color: $color-primary;
  background-color: $color-primary;
  &:hover {
    color: white;
    border-color: darken($color-primary, 5%);
    background-color: darken($color-primary, 5%);
  }
  &:disabled , &.is-disabled {
    cursor: default;
    color: $color-gray;
    border-color: $color-gray-white;
    background-color: $color-gray-white;
  }
}

.btn_danger {
  color: white;
  border-color: $color-red;
  background-color: $color-red;
  &:hover {
    color: white;
    border-color: $color-red-dark;
    background-color: $color-red-dark;
  }
  &:disabled , &.is-disabled {
    cursor: default;
    color: $color-gray;
    border-color: $color-gray-white;
    background-color: $color-gray-white;
  }
}

.btn_outline {
  border-color: $color-black;
  background-color: transparent;
  &:hover {
    border-color: $color-black;
    background-color: $color-black;
    color: white;
  }
  &:disabled , &.is-disabled {
    color: $color-gray;
    border-color: $color-gray-white;
    background-color: transparent;
  }
}

.btn_outline-primary {
  border-color: $color-primary;
  color: $color-primary;
  background-color: transparent;
  &:hover {
    border-color: $color-primary;
    background-color: $color-primary;
    color: white;
  }
  &:disabled , &.is-disabled {
    color: $color-gray;
    border-color: $color-gray-white;
    background-color: transparent;
  }
}

.btn_outline-danger {
  border-color: $color-red;
  color: $color-red;
  background-color: transparent;
  &:hover {
    border-color: $color-red;
    background-color: $color-red;
    color: white;
  }
  &:disabled , &.is-disabled {
    color: $color-gray;
    border-color: $color-gray-white;
    background-color: transparent;
  }
}
