.card {
  @include trailer(1);
  display: block;
  text-align: left;
  @extend %subpixel;
  @include border-radius(10px);
  &:hover {
    text-decoration: none;
  }
}

.card-header {
  position: relative;
  padding-top: 100%;
  @include trailer(0.5);
  width: 100%;
  height: 0;
  background-color: #444;
  @include border-radius(10px);
  @include background-size(cover);
  background-repeat: no-repeat;
  background-position: center;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black, 0.125);
    @include border-radius(10px);
    @include background-image(linear-gradient(to bottom, rgba(black, 0), rgba(black, 0.6)));
    @include transition(background-color 0.25s);
  }
  .card:hover &:before {
    background-color: rgba(black, 0.5);
  }
}


.card-header-inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 24px;
}

.card-city {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 12px;
}

.card-city-icon {
  float: right;
  width: 60px;
  height: 60px;
}
.card-city-name {
  clear: both;
  margin-right: 8px;
  text-align: right;
  font-size: 13px;
  line-height: 1;
  color: white;
}

.card-title {
  @include adjust-font-size-to(24px, 1.25);
  color: white;
  @include trailer(0.35);
}

.card-category {
  @include adjust-font-size-to(15px, 3/4);
  color: white;
}

.card-content {
  padding: 0 24px;
}

.card-subtitle {
  @include adjust-font-size-to(18px);
  color: black;
  @include trailer(0.5);
  text-align: center;
}
