[class^="icon-map-"], [class*=" icon-map-"] {
  display: block;
  @include hide-text(right);
  background-position: center center;
  @include background-size(contain);
  background-repeat: no-repeat;
  width: 128px;
  height: 128px;
  border: 1px dashed #ccc;
}

.icon-map-changhua {
  background-image: image-url("map-black/changhua.png");
  background-image: none, image-url("map-black/changhua.svg");
}
.icon-map-chiayi {
  background-image: image-url("map-black/chiayi.png");
  background-image: none, image-url("map-black/chiayi.svg");
}
.icon-map-chiayicity {
  background-image: image-url("map-black/chiayicity.png");
  background-image: none, image-url("map-black/chiayicity.svg");
}
.icon-map-hsinchu {
  background-image: image-url("map-black/hsinchu.png");
  background-image: none, image-url("map-black/hsinchu.svg");
}
.icon-map-hsinchucity {
  background-image: image-url("map-black/hsinchucity.png");
  background-image: none, image-url("map-black/hsinchucity.svg");
}
.icon-map-hualien {
  background-image: image-url("map-black/hualien.png");
  background-image: none, image-url("map-black/hualien.svg");
}
.icon-map-kaohsiung {
  background-image: image-url("map-black/kaohsiung.png");
  background-image: none, image-url("map-black/kaohsiung.svg");
}
.icon-map-keelungcity {
  background-image: image-url("map-black/keelungcity.png");
  background-image: none, image-url("map-black/keelungcity.svg");
}
.icon-map-miaoli {
  background-image: image-url("map-black/miaoli.png");
  background-image: none, image-url("map-black/miaoli.svg");
}
.icon-map-nantou {
  background-image: image-url("map-black/nantou.png");
  background-image: none, image-url("map-black/nantou.svg");
}
.icon-map-newtaipeicity {
  background-image: image-url("map-black/newtaipeicity.png");
  background-image: none, image-url("map-black/newtaipeicity.svg");
}
.icon-map-penghu {
  background-image: image-url("map-black/penghu.png");
  background-image: none, image-url("map-black/penghu.svg");
}
.icon-map-pingtung {
  background-image: image-url("map-black/pingtung.png");
  background-image: none, image-url("map-black/pingtung.svg");
}
.icon-map-taichung {
  background-image: image-url("map-black/taichung.png");
  background-image: none, image-url("map-black/taichung.svg");
}
.icon-map-tainan {
  background-image: image-url("map-black/tainan.png");
  background-image: none, image-url("map-black/tainan.svg");
}
.icon-map-taipei {
  background-image: image-url("map-black/taipei.png");
  background-image: none, image-url("map-black/taipei.svg");
}
.icon-map-taitung {
  background-image: image-url("map-black/taitung.png");
  background-image: none, image-url("map-black/taitung.svg");
}
.icon-map-taiwan {
  background-image: image-url("map-black/taiwan.png");
  background-image: none, image-url("map-black/taiwan.svg");
}
.icon-map-taoyuan {
  background-image: image-url("map-black/taoyuan.png");
  background-image: none, image-url("map-black/taoyuan.svg");
}
.icon-map-yilan {
  background-image: image-url("map-black/yilan.png");
  background-image: none, image-url("map-black/yilan.svg");
}
.icon-map-yunlin {
  background-image: image-url("map-black/yunlin.png");
  background-image: none, image-url("map-black/yunlin.svg");
}
