//
// slim markup:
//
// ul.pagination
//   li: span.pagination-item.is-disable &laquo;
//   li: a.pagination-item.is-current href="#" 1
//   li: a.pagination-item href="#"= 2
//   li: a.pagination-item href="#"= 3
//   li: a.pagination-item href="#"= 4
//   li: span.pagination-item.is-disable …
//   li: a.pagination-item href="#" &raquo;
//
// ===========

$pagination-color: #444 !default;
$pagination-bg-color: transparent !default;

$pagination-hover-color: #444 !default;
$pagination-hover-bg-color: $color-gray-white !default;

$pagination-current-color: $pagination-hover-color !default;
$pagination-current-bg-color: $pagination-hover-bg-color !default;

$pagination-disable-color: lighten($pagination-color, 30%) !default;
$pagination-disable-bg-color: $pagination-bg-color !default;

.pagination {
  @include pie-clearfix;
  @include reset-box-model;
  list-style: none;
  li {
    display: inline-block;
  }
  .pagination-item {
    display: block;
    padding: rhythm(0.25) rhythm(0.6);
    color: $pagination-color;
    background-color: $pagination-bg-color;
    text-align: center;
    @include adjust-font-size-to(15px);
    @include border-radius(5px);
    @include transition(color 0.25s, background-color 0.25s);
    &:hover {
      text-decoration: none;
      color: $pagination-hover-color;
      background-color: $pagination-hover-bg-color;
    }
    &.is-current {
      color: $pagination-current-color;
      background-color: $pagination-current-bg-color;
      cursor: default;
    }
    &.is-disabled {
      color: $pagination-disable-color;
      background-color: $pagination-disable-bg-color;
      cursor: default;
    }
  }

  @include at-breakpoint($pad) {
    .pagination-item {
      @include adjust-font-size-to(16px);
    }
  }
}
