.page-header {
  padding: rhythm(4) 0;
  text-align: center;
  @include background-size(cover);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f3f3f3;
}

.page-header-title {
  @include adjust-font-size-to(48px, 2);
}

.page-header-text {
  @include leader(2);
  @include adjust-font-size-to(20px, 1);
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  color: #777;
}

.page-header_black-bg {
  background-color: #444;
  .page-header-title {
    color: white;
  }
  .page-header-text {
    color: #ddd;
  }
}

.page-header_large {
  padding: rhythm(8) 0;
}
