.demo-block#guideline-summary
  h2.demo-block-title 設計規範簡介
  p.demo-block-text 不如去學學軟體怎麼用、然後抱個設計獎回來吧！啊，Photoshop當了，你花時間蒐集資料、構圖、上電腦完稿、細部討論調整，有錢好辦事啦！說很簡單那你做！您好請給我一張您的個人照片，靠北我好怕這樣的未來。最氣人的是後面很無辜的跟你說，你花時間蒐集資料、構圖、上電腦完稿、細部討論調整，有特色一點的設計師作品都沒有，我每天到家都要9點了啊！憑自己會幾個軟體就很囂張？

