.demo-block#guideline-summary
  h2.demo-block-title 規範簡介
  p.demo-block-text 這是 <a href="http://fb.com/unfoldgroup" target="_blank">unfold group 展開集合</a>替「<a href="http://iing.tw" target="_blank">點亮台灣 — 蔡英文・陳建仁</a>」總統候選人競選官網所制訂的網站設計規範。我們將以往製作台灣百大商業網站的經驗與流程，透過一系列的討論與設計，轉換為適用於台灣選舉網站的設計規範。
